<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzc.springboot.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.tzc.springboot.entity.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResultMapWithUser" type="com.tzc.springboot.entity.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <collection property="userList" ofType="com.tzc.springboot.entity.User">
      <id column="u_id" property="id"/>
      <result column="username" property="username"/>
      <result column="password" property="password"/>
      <result column="age" property="age"/>
      <result column="email" property="email"/>
      <result column="dept_id" property="deptId"/>
    </collection>
  </resultMap>

  <select id="selectWithUser" resultMap="ResultMapWithUser">

    SELECT
    u.id "u_id",u.username,u.password,d.*
    FROM
    department d
    LEFT JOIN
    user u
    ON
    u.dept_id = d.id

  </select>
</mapper>